web-app/WEB-INF/FindNeighboursRequest.xsd

<xs:schema attributeFormDefault="unqualified" 
			elementFormDefault="qualified" 
			targetNamespace="namespace" 
			xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="FindNeighboursRequest">
    <xs:complexType>
      <xs:sequence>
         <xs:element type="xs:string" name="Mail"/>
         <xs:element type="xs:double" name="Rayon"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>